html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    font:normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
    height:100%;
}
fieldset{
	margin:0;
}
ul.layout{
    list-style:none;
}
a{
    outline:none;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
p{
    margin:0;
    padding:0 0 10px;
}
a.show, a.hide{
	font:bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
	color:#5F9CD0;
	display:block;
}

textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
    -webkit-text-fill-color: #B6AD84;
}
